[Unit]
Description=Service file for rstudio
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
User=github-runner
WorkingDirectory=/home/github-runner/rstudio-onprem-ghashr/docker/rstudio
ExecStart=/bin/docker compose -f docker-compose.yml up --pull always -d
ExecStop=/bin/docker compose -f docker-compose.yml down

[Install]
WantedBy=multi-user.target
