[Unit]
Description=RStudio (Docker Compose)
Wants=network-online.target
After=docker.service network-online.target
Requires=docker.service
RequiresMountsFor=/ssb/bruker /ssb/stamme01 /ssb/stamme02 /ssb/stamme03 /ssb/stamme04 /ssb/cloud_sync /ssb/share

[Service]
Type=oneshot
WorkingDirectory=/home/github-runner/rstudio-onprem-ghashr/docker/rstudio
User=github-runner

# Pull newest images and (re)create containers in one go
ExecStart=/usr/bin/docker compose -f docker-compose.yml up -d --pull always --remove-orphans --force-recreate
ExecReload=/usr/bin/docker compose -f docker-compose.yml up -d --pull always --remove-orphans --force-recreate
ExecStop=/usr/bin/docker compose -f docker-compose.yml down

RemainAfterExit=yes
TimeoutStartSec=0
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
