[Unit]
Description=Service file for jupyterhub
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
User=jupyterhub
WorkingDirectory=/home/jupyterhub/jupyterhub-onprem/docker/jupyterhub
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yml stop

[Install]
WantedBy=multi-user.target